#contact-section {
    background-image: url(../Assets/backgroundImage.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    display: block;
}

.contact {
    max-width: 1600px;
    margin: auto;
}

.contact-container{
    display: flex;
    margin: auto;
    padding-bottom: 50px;
}


.contact-title {
    padding: 50px;  
    text-align: center;
    color: aliceblue;
}

.contact-handcoding {
    flex: 1;
    text-align: center;
}

.handcoding {
    width: 400px;
}

.form {
    display: grid;
    flex: 1;
    height: 100%;
    flex-direction: column;
    row-gap: 20px;
}

input, textarea {
    padding: 5px;
    height: 40px;
    width: 500px;
    font-size: 17px;
    border-radius: 10px;
}

textarea {
    height: 80px;
}

.button-container {
    width: 100%;
    text-align: center;
   
}

.contact-button {
    height: 55px;
    background: #5a7ffb;
    color: white;
    border-radius: 10px;
    padding: 10px 30px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    font-weight: 700;
}

.contact-button:hover {
    background: #1c50fa;
}




@media screen and (max-width: 480px)  {
    .contact-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-row: inherit;
        place-items: center;
    }
    .form {
        width: 400;
    }
    input, textarea {
        width: 370px;
    }
}

@media (max-width: 790px) {
    .contact-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-row: inherit;
        place-items: center;
    }
}
