#navigation-section {
    width: 100vw;
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.425);
    backdrop-filter: blue(5px);
    z-index: 1;
}

.navigation {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#menu li {
    cursor: pointer;
}

.logo {
    width: 150px;
    filter: brightness(250%)
}

nav ul li {
    font-weight: bold;
    display: inline-block;
    margin: 10px 20px;
    cursor: pointer;
    
}

nav ul li a {
    text-decoration: none;
    color: rgb(185, 185, 185);
    font-size: 20px;   
    transition: 0.3s ease-in-out;
}

nav ul li a:hover {
    color: white;
}

.bars {
    color: rgb(177, 177, 177);
    font-size: 30px;
    align-items: center;
}

.bars::before {
    display: none;
}

.close {
    color: rgb(177, 177, 177);
    font-size: 30px;
  
}


/* Mobile view*/
#mobile {
    display: none;
}

#mobile span {
    color: #fff;
    align-items: center;
}

@media  screen and (max-width: 815px) {
    #mobile {
        display: block;
    }

    #mobile span {
        font-size: 30px;
        transition: .8s ease-in-out;
    }

    #menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 90px;
        right: -300px;
        width: 200px;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.425);
    }

    #menu.active {
        right: 0px;
        backdrop-filter: blur(15%);
        transition: 1s ease-in-out;
    }

    #menu > li {
        margin-bottom: 20px;
    }

    
}